/* Agencement de la page avec CSS Flexbox */

header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
}



span{
    display:none;
}


/*
.dropdown{
    position: relative;
}

.dropdownlist{
        position: absolute;
        right: 0;
        top: 100%;
    }
*/